/* The following styles have to be corrected in the original stylesheets */
/* Ensure that :focus style does not remove outline! Important for accessibility */
/* a:active, button:active, button:focus:not(.navbar-toggler) {
    outline: none !important;
    border: none !important;
    box-shadow: none !important; 
}
*/
/* End */

/* Change to templates */
/* Add the class pl-sm-0 to the following div element, the right sidebar: <div class="col-sm-12 col-md-12 col-lg-3 sidebar-node" */
/* Add the class rounded to the following button element, the left sidebar: <button class="col-3 btn-primary class-fontawesome button js-form-submit form-submit" */
/* Add the class no-gutters to the main nav bar (Home | About us | ...): <div class="col-12 collapse navbar-collapse" id="navbarTogglerEJ1"> */ 
/* Change the class pl-0 to pl-md-2 in the logo/header element: <div id="header-container" class="col-8 col-sm-6 col-md-7 pl-0 pr-0 d-flex align-items-end"> */

body {
    font-size: 1rem;
    line-height: 1.5;
}
#page-wrapper,
.header,
body,
footer a {
    color: #032025;
    /* this is body text dark enough for sufficient contrast to background and links on both light and darker background (tab content, contact box on press releases, cards, etc.) */
}
.site-name-slogan {
    font-size: 1.075rem;
    font-weight: 400;
    max-width: 16rem;
}
*:focus {
    outline: 2px solid #A05646;
}
::selection {
    background-color: #A05646;
    color: white;
    text-shadow: none;
    background-image: none;
}
.form-control:focus {
    border-color: #A05646;
    box-shadow: 0 0 0 0.1rem #A05646;
}
form[id*='eurojust-forms-howcanhelp'] .btn-primary {height:2rem;}
form[id*='eurojust-forms-howcanhelp'] button.btn-primary:hover {
    background-color: #8f892d!important;
}
.view-mode-full .col-md-9.col-12,
.view-mode-full .col-12.col-md-12.col-lg-9 {
    padding-left: 0;
}
.breadcrumb-item,
.breadcrumb {
    font-size: .929em;
}
.breadcrumb.clearfix.px-2 {
    margin: 0 0 1em;
    padding-left: 0.75rem!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #205368;
    font-weight: 600;
    margin-bottom: 1em;
}
h1,
h1 a,
.h1 {
    font-size: 1.75rem;
}
h2,
.h2 {
    font-size: 1.625rem;
}
h3,
.h3 {
    font-size: 1.5rem;
}
h4,
.h4 {
    font-size: 1.375rem;
}
h5,
.h5 {
    font-size: 1.25rem;
}
h6,
.h6 {
    font-size: 1.175rem;
}
h1 + h2,
h2 + h3 {
    margin-top: -0.5em;
}
#block-ectweets h2 {
    font-size: 1.25em;
}
#block-eurojust-main-navigation > ul > li .mega-menu .overview h2 {
    font-size: 1.2rem;
}
.site-footer h2 {
    font-weight: 400;
}
p + h2 {
    margin-top: 1.25em;
}
h3.block-title {
    text-decoration: none;
}
.view-mode-tab_display h3,
.view-mode-content_list_with_image h3,
.view-ej-advanced-search h3,
#block-eurojusthowcanhelpblock.block-eurojust-howcanhelp-block h3,
h3.card-title,
.sidebar h3 {
    font-size: 1.1rem;
}
.view-mode-content_list_with_image h3 {
    margin-bottom: .5em;
}
h3 + p {
    margin-top: 1.5em;
}
p + h3,
ul + h3 {
    margin-top: 1.5em;
}
.view-in-focus.view-id-in_focus h3 {
    margin-top: 0;
    margin-bottom: .5em;
    line-height: 1.3;
    font-size: 1rem;
}
ol ol,
ol ul,
ul ol,
ul ul {
    margin-top: 1em;
}
.region-content li {
    margin-bottom: 1rem;
}
.field--info-page {
    font-size: 0.9rem;
}
.paragraph__column .nav-tabs a.nav-link {
    text-shadow: #000 0px 0px 0px, 0px 2px 2px rgb(33 37 41 / 0%);
    color: #464D53;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs a.nav-link.active {
    text-shadow: #000 1px 0px 0px, 0px 2px 2px rgb(33 37 41 / 0%);
}
.footer .nav-item {
    line-height: 1.65;
}
.breadcrumb-item.active {
    color: #6c757d;
}
a, a:hover {
    color: #A05646;
}
.float-left a, h3 a {
    color: #2C4754;
}
.field--info-event .info-date,
.field--info-event .info-loc,
.field--info-event .info-extra,
.field--info-page .info-date,
.field--info-page .info-extra,
.field--taxonomies-tags .tags-label,
.field--taxonomies-tags .taxonomy-tag {
    color: #656561;
}
.breadcrumb-item a,
.content .link,
.content .link:hover,
.field--text-content a,
.field--info-event .info-extra a,
.field--name-field-contact-information p a,
.field--taxonomies-tags .taxonomy-tag a,
.label-color,
.menu-siblings ul > li a,
.menu-siblings ul li.menu-item.menu-item--active-trail, 
.menu-siblings ul > li a.is-active,
.procurement-legal-notice a,
.related-links .item-link,
.related-links .item-link a,
.text-formatted a,
.site-footer__top h2 {
    color: #A05646;
}
.back-to-top {
    background-color: #A05646;
}
.btn {
    text-decoration: none!important;
}
.navbar-nav li:first-child {
    text-decoration: none;
}
.field.field--name-pressrelease-contact-details {
    margin-bottom: 2em;
}
/* The below rule is temporary, to remove read more link from PR list */
.more-link {
    display: none;
}
/* .view-ej-advanced-search .label-color {display: none;}*/
/* Paginator */
.pagination .page-item:hover .page-link,
.pagination [class^="pager"]:hover .page-link,
.pagination .page-item.active .page-link {
    background-color: #A05646 !important;
}
.pagination .page-item .page-link,
.pagination [class^="pager"] .page-link {
    padding: 5px 8px;
}
/* FontAwesome icon to accompany outbound links */
.maincontent-node a[href^="http://"]:not([href^="https://www.eurojust.europa.eu"]):after,
.maincontent-node a[href^="https://"]:not([href^="https://www.eurojust.europa.eu"]):after {
    content: "\f35d";
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    padding-left: .5em;
    padding-right: .3em;
    color: rgb(160, 86, 70, .8);
    background-image: none;
    background-color: #f8f8f8;
}
.maincontent-node .paragraph__column a[href^="http://"]:not([href^="https://www.eurojust.europa.eu"]):after,
.maincontent-node .paragraph__column a[href^="https://"]:not([href^="https://www.eurojust.europa.eu"]):after {
    background-color: #ebebeb;
}
/* FontAwesome icon to accompany links to PDF files */
.maincontent-node a[href$=".pdf"]:after {
    content: "\f1c1" !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: normal !important;
    display: inline-block;
    text-decoration: none;
    padding-left: .5em;
    padding-right: .3em;
    background-image: none;
    background-color: #f8f8f8;
}
.maincontent-node .paragraph__column a[href$=".pdf"]:after {
    background-color: #ebebeb;
}
.maincontent-node .file--application-pdf a[href$=".pdf"]:after {
    background-color: #fff;
}

/* Fancy link underline */
.field--text-content a,
.field--info-event .info-extra a,
.file--application-pdf a,
.taxonomy-tag a,
.paragraph--type--bp-simple .text-formatted a,
.link,
.breadcrumb-item a,
.text-formatted a {
    text-decoration: none;
    text-shadow: 0.05em 0 0 #f8f8f8, -0.05em 0 0 #f8f8f8,
    0 0.05em 0 #f8f8f8, 0 -0.05em 0 #f8f8f8,
    0.1em 0 0 #f8f8f8, -0.1em 0 0 #f8f8f8,
    0 0.1em 0 #f8f8f8, 0 -0.1em 0 #f8f8f8;
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-image: linear-gradient(to right, #A05646 0%, #A05646 100%);
    background-repeat: repeat-x;
    background-position: bottom 0.05em center;
    background-size: 100% 0.05em;
}
a.btn-text-white,
.field--text-content a:hover,
.field--info-event .info-extra a:hover,
.taxonomy-tag a:hover,
.paragraph--type--bp-simple .text-formatted a:hover,
.link:hover {
    text-decoration: none;
    text-shadow: none;
    background-image: none;
}
.field--text-content a:focus,
.taxonomy-tag a:focus,
.paragraph--type--bp-simple .text-formatted a:focus,
.link:focus {
    color: #fff;
    text-shadow: none;
    background-image: none;
    background-color: #A05646;
}
.paragraph--type--bp-tabs .text-formatted a {
    text-decoration: none;
    text-shadow: 0.05em 0 0 #ebebeb, -0.05em 0 0 #ebebeb,
    0 0.05em 0 #ebebeb, 0 -0.05em 0 #ebebeb,
    0.1em 0 0 #ebebeb, -0.1em 0 0 #ebebeb,
    0 0.1em 0 #ebebeb, 0 -0.1em 0 #ebebeb;
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-repeat: repeat-x;
    background-position: bottom 0.05em center;
    background-size: 100% 0.05em;
}
#drupal-modal .text-formatted a, #drupal-modal .taxonomy-tag a {
    text-shadow: 0.05em 0 0 #fff, -0.05em 0 0 #fff,
    0 0.05em 0 #fff, 0 -0.05em 0 #fff,
    0.1em 0 0 #fff, -0.1em 0 0 #fff,
    0 0.1em 0 #fff, 0 -0.1em 0 #fff;
}
a:hover, .text-formatted a:hover,
.paragraph--type--bp-tabs .text-formatted a:hover {
    text-shadow: none;
    background-image: none;
}
.paragraph__column .nav-tabs a.nav-link:hover,
.paragraph__column .nav-tabs a.nav-link:focus {
    text-shadow: #914f40 1px 0px 0px, 0px 2px 2px rgb(51 22 14 / 0%);
    color: #914F40;
    outline: 0;
}
.paragraph__column .nav-tabs .nav-item {
    outline: 0;
}
#navbar-main .nav-link,
#navbar-main .link {
    text-shadow: none;
    background-image: none;
    outline: 0;
}
.text-formatted a:focus,
.paragraph--type--bp-tabs .text-formatted a:focus,
.content .link:focus {
    color: #fff;
    text-shadow: none;
    background-image: none;
    background-color: #A05646;
}
.card a.btn {
    text-shadow: none;
    background-image: none;
    background-repeat: no-repeat;
}

/* Slightly lighter background colors */
#page-wrapper,
.header,
body,
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
    background-color: #f8f8f8;
}
.card-soup.responsive .card.nav-item,
.nav-tabs .nav-link,
.nav-tabs.responsive .nav-link {
    background-color: #DDDCDA;
}
.card-body,
.tab-content > .tab-pane,
.tab-content.responsive > .tab-pane,
.nav-tabs .nav-link.active,
.tab-pane.fade.show.active,
.nav-tabs .nav-link:active {
    background-color: #ebebeb;
}
.nav-tabs .nav-link {
    background-color: #f8f8f8;
}
.nav-tabs .nav-link.active {
    border-color: #dee2e6 #f8f8f8 #ebebeb;
}
.nav-tabs .nav-link:hover {
    background-color: #bfbdba;
}
/* End background colors */
/* Darker In Focus element */
.paragraph.paragraph--type--in-focus-paragraph {
    background: #66797F;
}
.paragraph--type--in-focus-paragraph .view-in-focus .attachment .view-display-id-attachment_1 p {
    font-size: 0.9375rem;
    line-height: 1.4;
}
.paragraph[class*="banner"] .bg-img .link-section {
    background-color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 767px) {
    .col-sm-12.col-md-12.col-lg-3.sidebar-node,
    .menu-siblings ul {
        padding-left: 0;
    }
    ul.menu.menu-level-1 {
        padding-left: 1em;
    }
}
/* Phones */
@media (max-width: 576px) {
    .site-name-slogan {
        font-size: 0.85rem;
    }
    h1,
    h1 a,
    .h1 {
        font-size: 1.5rem;
    }
    h2,
    .h2 {
        font-size: 1.4rem;
    }
    h3,
    .h3 {
        font-size: 1.3rem;
    }
    h4,
    .h4 {
        font-size: 1.25rem;
    }
    h5,
    .h5 {
        font-size: 1.2rem;
    }
    h6,
    .h6 {
        font-size: 1.15rem;
    }
    ul {
        padding-inline-start: 20px;
    }
    .view-in-focus h3 {
        margin-top: 1em;
    }
    .field--text-content .image-content {
        float: none;
        max-width: 100%;
        padding: 0;
        margin-bottom: 2em;
    }
    #block-eurojust-main-page-content .field--name-text-content {
        padding-right: 0;
    }
}
/* End Phones */