/* The following styles have to be corrected in the original stylesheets */
/* Ensure that :focus style does not remove outline! Important for accessibility */
/* a:active, button:active, button:focus:not(.navbar-toggler) {
    outline: none !important;
    border: none !important;
    box-shadow: none !important; 
}
*/
/* End */

body {
    font-size: 1rem;
    line-height: 1.5;
}

#page-wrapper,
.header,
body,
footer a {
    color: #051d24;
    /* this is body text dark enough for sufficient contrast to background and links on both light and darker background (tab content, contact box on press releases, cards, etc.) */
}
.site-name-slogan {
    font-size: 1.2rem;
    font-weight: 400;
    max-width: 16rem;
}
*:focus {
    outline: 2px solid #985343;
}
::selection {
    background-color: #985343;
    color: white;
    text-shadow:none;
    background-image:none;
}
.form-control:focus {
    border-color: #985343;
    box-shadow: 0 0 0 0.1rem #985343;
}
.view-mode-full .col-md-9.col-12,
.view-mode-full .col-12.col-md-12.col-lg-9 {
    padding-left: 0;
}
.breadcrumb-item,
.breadcrumb {
    font-size: .929em;
}
.breadcrumb.clearfix.px-2 {
    margin: 1em 0;
    padding-left: 0.75rem!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #155773;
    font-weight: 600;
    margin-bottom: 1em;
}
h1,
h1 a,
.h1 {
    font-size: 2rem;
}
h2,
.h2 {
    font-size: 1.75rem;
}
h3,
.h3 {
    font-size: 1.5rem;
}
h4,
.h4 {
    font-size: 1.4rem;
}
h5,
.h5 {
    font-size: 1.25rem;
}
h6,
.h6 {
    font-size: 1.2rem;
}
#block-ectweets h2 {
    font-size: 1.25em;
}
#block-eurojust-main-navigation > ul > li .mega-menu .overview h2 {
    font-size: 1.2rem;
}
.site-footer h2 {
    font-weight: 400;
}
h3.block-title {
    text-decoration: none;
}
.view-mode-tab_display h3,
.view-mode-content_list_with_image h3,
.view-ej-advanced-search h3,
.view-in-focus h3,
#block-eurojusthowcanhelpblock.block-eurojust-howcanhelp-block h3,
h3.card-title,
.sidebar h3 {
    font-size: 1.1rem;
}
.view-mode-content_list_with_image h3 {
    margin-bottom: .5em;
}
h3 + p {
    margin-top: 1.5em;
}
p + h3,
ul + h3 {
    margin-top: 1.5em;
}
ol ol,
ol ul,
ul ol,
ul ul {
    margin-top: 1em;
}
.region-content li {
    margin-bottom: 1rem;
}
.field--info-page {
    font-size: 0.9rem;
}
.field--info-event .info-date,
.field--taxonomies-tags .tags-label,
.field--info-event .info-date a,
.field--info-page .info-date {
    color: #061C28;
}
.paragraph__column .nav-tabs a.nav-link {
    text-shadow: #464d53 1px 0px 0px, 0px 2px 2px rgb(51 22 14 / 0%);
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs a.nav-link.active {
    color: #464D53;
    text-shadow: #000 1px 0px 1px, 0px 2px 2px rgb(51 22 14 / 0%);
}
a:hover {
    color: #985343;
}
.field--info-event .info-extra,
.field--info-event .info-extra a,
.field--name-field-contact-information p a,
.field--taxonomies-tags .taxonomy-tag,
.field--taxonomies-tags .taxonomy-tag a,
.field--info-page .info-extra,
.menu-siblings ul > li a,
.breadcrumb-item.active,
.site-footer__top h2 {
    color: #985343;
    /* this provides for sufficient contrast to both the surrounding body text and the background, lighter and darker */
}
.text-formatted a,
.field--text-content a,
.procurement-legal-notice a,
.content .link,
.content .link:hover,
.field--info-event .info-extra a,
.field--taxonomies-tags .taxonomy-tag a {
    color: #985343;
    /* text-decoration: underline; */
}
.back-to-top {
    background-color: #985343;
}
.btn {
    text-decoration: none!important;
}
.navbar-nav li:first-child {
    text-decoration: none;
}
/* The below rule is temporary, to remove read more link from PR list */
.more-link,
.view-ej-advanced-search .label-color {
    display: none;
}
/* Paginator */
.pagination .page-item:hover .page-link,
.pagination [class^="pager"]:hover .page-link,
.pagination .page-item.active .page-link {
    background-color: #985343 !important;
}
.pagination .page-item .page-link,
.pagination [class^="pager"] .page-link {
    padding: 5px 8px;
}

/* FontAwesome icon to accompany outbound links */
.maincontent-node a[href^="http://"]:not([href^="https://www.eurojust.europa.eu"]):after,
.maincontent-node a[href^="https://"]:not([href^="https://www.eurojust.europa.eu"]):after {
    content: "\f35d";
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    padding-left: .5em;
}
/* FontAwesome icon to accompany links to PDF files */
.maincontent-node a[href$=".pdf"]:after {
    content: "\f1c1" !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: normal !important;
    padding-left: .5em;
}

@media (max-width: 767px) {
    .col-sm-12.col-md-12.col-lg-3.sidebar-node,
    .menu-siblings ul {
        padding-left: 0;
    }
    ul.menu.menu-level-1 {
        padding-left: 1em;
    }
}
/* Fancy link underline */
.field--text-content a,
.taxonomy-tag a,
.paragraph--type--bp-simple .text-formatted a, .link {
    text-decoration: none;
    text-shadow: 0.05em 0 0 #f6f6f6, -0.05em 0 0 #f6f6f6,
    0 0.05em 0 #f6f6f6, 0 -0.05em 0 #f6f6f6,
    0.1em 0 0 #f6f6f6, -0.1em 0 0 #f6f6f6,
    0 0.1em 0 #f6f6f6, 0 -0.1em 0 #f6f6f6;
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-repeat: repeat-x;
    background-position: bottom 0.05em center;
    background-size: 100% 0.05em;
}
.field--text-content a:hover,
.taxonomy-tag a:hover,
.paragraph--type--bp-simple .text-formatted a:hover, .link:hover {
    text-decoration:none;
    text-shadow: none;
    background-image: none;
}
.field--text-content a:focus,
.taxonomy-tag a:focus,
.paragraph--type--bp-simple .text-formatted a:focus, .link:focus {
    color: #fff;
    text-shadow: none;
    background-image: none;
    background-color: #985343;
}
.text-formatted a,
.paragraph--type--bp-tabs .text-formatted a {
    text-decoration: none;
    text-shadow: 0.05em 0 0 #e5e5e4, -0.05em 0 0 #e5e5e4,
    0 0.05em 0 #e5e5e4, 0 -0.05em 0 #e5e5e4,
    0.1em 0 0 #e5e5e4, -0.1em 0 0 #e5e5e4,
    0 0.1em 0 #e5e5e4, 0 -0.1em 0 #e5e5e4;
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-repeat: repeat-x;
    background-position: bottom 0.05em center;
    background-size: 100% 0.05em;
}
.text-formatted a:hover,
.paragraph--type--bp-tabs .text-formatted a:hover {
    text-shadow: none;
    background-image: none;
}
.paragraph__column .nav-tabs a.nav-link:hover, 
.paragraph__column .nav-tabs a.nav-link:focus {
    text-shadow: #914f40 1px 0px 0px, 0px 2px 2px rgb(51 22 14 / 0%);
    color: #914F40;
    outline:0;
}
.paragraph__column .nav-tabs .nav-item {
    outline:0;
}
#navbar-main .nav-link, #navbar-main .link {
    text-shadow: none;
    background-image: none;
    outline: 0;
}
.text-formatted a:focus,
.paragraph--type--bp-tabs .text-formatted a:focus,
.content .link:focus {
    color: #fff;
    text-shadow: none;
    background-image: none;
    background-color: #985343;
}
.card a.btn {
    text-shadow: none;
    background-image: none;
    background-repeat: no-repeat;
}

/* Slightly lighter background colors */
#page-wrapper,
.header,
body,
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
    background-color: #f6f6f6;
}
.card-soup.responsive .card.nav-item,
.nav-tabs .nav-link,
.nav-tabs.responsive .nav-link {
    background-color: #DDDCDA;
}
.card-body,
.tab-content > .tab-pane,
.tab-content.responsive > .tab-pane,
.nav-tabs .nav-link.active,
.tab-pane.fade.show.active,
.nav-tabs .nav-link:active {
    background-color: #e9e9e8;
}
.nav-tabs .nav-link {
    background-color: #f6f6f6;
}
.nav-tabs .nav-link.active {
    border-color: #dee2e6 #f6f6f6 #e5e5e4;
}
.nav-tabs .nav-link:hover {
    background-color: #bfbdba;
}
/* End background colors */

/* Darker In Focus element */
.paragraph.paragraph--type--in-focus-paragraph {
    background: #66797F;
}

/* Phones */
@media (max-width: 576px) {
    .site-name-slogan {
        font-size: 0.85rem;
    }
    h1,
    h1 a,
    .h1 {
        font-size: 1.5rem;
    }
    h2,
    .h2 {
        font-size: 1.4rem;
    }
    h3,
    .h3 {
        font-size: 1.3rem;
    }
    h4,
    .h4 {
        font-size: 1.25rem;
    }
    h5,
    .h5 {
        font-size: 1.2rem;
    }
    h6,
    .h6 {
        font-size: 1.15rem;
    }
    ul {
        padding-inline-start: 20px;
    }
    .view-in-focus h3 {
        margin-top: 1em;
    }
    .field--text-content .image-content {
        float: none;
        max-width: 100%;
        padding: 0;
        margin-bottom: 2em;
    }
    #block-eurojust-main-page-content .field--name-text-content {
        padding-right: 0;
    }
}
/* End Phones */ 
